/* 
    General Styles
*/
/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
  }
  
  .footer a {
    color: #ffffff;
  }
  
  .navbar {
    background-color: #007bff;
  }
  
  .navbar a {
    color: #ffffff;
  }
  
  .navbar a:hover {
    color: #d4d4d4;
  }  